@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-dark path {
  fill: #0c0c0d;
}

hr {
  @apply border-grey-50 my-6;
}

.header-page {
  @apply text-lg font-semibold mb-2;
}

.header-lg {
  @apply text-lg mt-7 mb-2;
}

.result-none {
  @apply border-l border-l-grey-300 border-dotted pl-2;
}

.table-th {
  @apply font-medium text-violet-900 align-top p-1 pr-4 bg-grey-10;
}

.table-td {
  @apply px-2 py-1 border-grey-10;
}

.result-grey {
  @apply italic text-grey-500;
}

.table-xy-headers {
  @apply mb-5 border border-grey-50 border-separate rounded;

  &.border-l-thick {
    @apply border-l-2 border-l-grey-300;
  }
}

.table-y-headers {
  @apply table-xy-headers;

  tr:last-of-type td {
    @apply border-none;
  }
}

.table-x-headers {
  @apply table-xy-headers;

  tr:last-of-type td {
    @apply border-none;
  }
  td:last-of-type {
    @apply border-r-0;
  }
}

.text-green {
  @apply font-semibold text-green-900;
}

.text-red {
  @apply font-semibold text-red-600;
}
